.formBody{
    background-color: #4A3B56;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    #betAmount{
        height: 1.5rem;
    }
    .Start-Cashout{
        
        padding: 0.5rem 0;
        
    }
}